/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    #quote-div {
        width: 85%;

        #quote-box {
            height: 4.5em;
        }

        #quote-text {
            font-size: 15px;
        }
    
    }

} 


